numpy==1.26.4
scipy==1.12.0
statsmodels==0.14.1
pandas-datareader==0.10.0
pandas
yfinance==0.2.62
pandas-ta==0.3.14b0
scikit-learn
pyportfolioopt==1.5.6
requests
fastapi[standard]
ray[data,train,tune,serve]
pydantic
boto3
supabase
storage3
